.navMenuHeaderItem{
    position: relative;
    margin:0px 10vw;
    .headerItemText{
        display:flex;
        align-items:center;
        border-width: 0 0 1px 0;
        border-style:solid;
        border-radius: 8px;
        // margin-top:8px;
        padding: 12px 0;
        img{
            margin:0 12px;
        }
    }
    .navMenuBody{
        position:absolute;
        display:block;
    }
}