.specScreen{
    position:relative;
    .spacing{
        display:block;
        // border: 1px solid rgb(170, 86, 86);
    }
    .topSpacing{
        height:12px;
    }
    .titleSpacing{
        height:8px;
    }
    .variantSpacing{
        height:8px;
    }
    .infoSpacing{
        height:24px;
    }
    .handContainer{
        top:25vh;
    }
}
