.prepYield{
    border-top-right-radius: 16px;
    margin:0px !important;
    display:block !important;
    width:42vw;
    h5{
        font-size:20px;
        font-weight:300;
        padding: 8px 0;
    }
    input{
        outline:none;
        border-radius: 4px;
        // border: 1px dashed black;
        border-width: 0px;
        width:64px;
        text-align: center;
        font-size: 16px;
    }

}