header{
    z-index: 2;
    position: fixed;
    top:0;
    width:100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top:6px;
    padding-bottom:3px;
    left:50%;
    margin-left:-412px !important;
    .left{
        img{
            transform: rotate(180deg);
        }
    }
    .middle{
        .font1{
            font-size: 19px;
            font-weight: 800;
        }
        .font2{
            font-size:16px;
            font-weight: 300;
        }
    }
}
@media (max-width:824px){
    header{
        left:0px;
        margin:0 !important;
    }
}